@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600;700&family=Poppins:wght@400;500;600&display=swap');
@import "tailwindcss";

body {
  color: black;
  background: #18181B;
  font-family: Arial, Helvetica, sans-serif;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@theme {
  --color-light-blue: #5F6CAF;
  --color-discord-blue: #7289DA;
  --color-dark-gray: #0E1015;
  --color-light-gray: #18181B;
  --font-title: 'Barlow Condensed', sans-serif;
  --font-body: 'Poppins', sans-serif;
}